Source: fsinf-server-config
Section: misc
Priority: optional
Maintainer: Mathias Ertl <mati@fsinf.at>
Standards-Version: 3.9.6
Build-Depends: debhelper (>= 9)
Homepage: https://git.fsinf.at/fsinf/server-config
Vcs-Browser: https://git.fsinf.at/apt/server-config
Vcs-Git: https://git.fsinf.at/apt/server-config.git

Package: fsinf-server-config
Architecture: all
Depends: ${misc:Depends}, apt-transport-https, ca-certificates-fsinf
Description: Common configuration for fsinf servers
 This package contains some common configuration for servers maintained
 by the Fachschaft Informatik - https://fsinf.at.

Package: fsinf-server-config-startssl
Architecture: all
Depends: ${misc:Depends}
Description: StartSSL intermediate certificates
 This package installs startssl intermediate certificates

Package: ca-certificates-letsencrypt
Architecture: all
Depends: ${misc:Depends}
Description: Certificates for LetsEncrypt
 This package installs LetsEncrypt X1 and X2 intermediate certificates
